<div class="main-container">
  <!-- Game Header -->
  <mat-toolbar color="primary">

    <span>Rock Paper Scissor</span>
    <span class="example-spacer"></span>

    <!-- Settings Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Sound Off</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <!-- Initial Game Screen -->
  <div *ngIf="!gameScreenDisplay">
    <!-- Player Details -->
    <div class="player-details">
      <form class="player-info-form">
        <div>
          <mat-form-field floatLabel="always" class="example-full-width">
            <mat-label>Player 1</mat-label>
            <input matInput name="playerOne" [(ngModel)]="playerOne" placeholder="Enter your name">
          </mat-form-field>
          <span class="error-msg" *ngIf="nameWarning">You must pick a name</span>
        </div>
        <mat-form-field floatLabel="always" class="example-full-width">
          <mat-label>Player 2</mat-label>
          <input matInput name="playerTwo" [(ngModel)]="playerTwo">
        </mat-form-field>
      </form>
    </div>

    <!-- Game Options -->
    <div class="game-container">
      <mat-card class="game-card card-active" (click)="playWithComputer()">
        <mat-card-content>
          Play with Computer
        </mat-card-content>
      </mat-card>

      <mat-card class="game-card card-disabled">
        <mat-card-content>
          Play with Friend
        </mat-card-content>
      </mat-card>

      <mat-card class="game-card card-disabled">
        <mat-card-content>
          Play Online
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Initial Game Screen End -->

  <!-- Game Screen -->
  <div *ngIf="gameScreenDisplay">
    <div class="game-screen">
      <!-- Player 1 -->
      <mat-card>
        <mat-card-title>{{playerOne}}
          <button mat-mini-fab color="accent" aria-label="Your score">
            {{playerOneScore}}
          </button>
        </mat-card-title>
        <mat-card-actions>
          <mat-icon [ngClass]="{'active': (playerOneSelection === 'rock')}" (click)="pick('rock')">settings_input_svideo</mat-icon>
          <mat-icon [ngClass]="{'active': (playerOneSelection === 'paper')}" (click)="pick('paper')">description</mat-icon>
          <mat-icon [ngClass]="{'active': (playerOneSelection === 'scissor')}" (click)="pick('scissor')">content_cut</mat-icon>
          <!-- <button mat-button>Rock</button>
        <button mat-button>Paper</button>
        <button mat-button>Scissor</button> -->
        </mat-card-actions>
      </mat-card>

      <!-- Player 2 -->
      <mat-card>
        <mat-card-title>{{playerTwo}}
          <button mat-mini-fab color="accent" aria-label="Other player score">
            {{playerTwoScore}}
          </button>
        </mat-card-title>

        <mat-card-actions class="computer-pick">
          <mat-icon *ngIf="playerTwoSelection === 'rock'">settings_input_svideo</mat-icon>
          <mat-icon *ngIf="playerTwoSelection === 'paper'">description</mat-icon>
          <mat-icon *ngIf="playerTwoSelection === 'scissor'">content_cut</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>

    <div *ngIf="result" class="result"
      [ngClass]="{'winner': (result == 'You Won'), 'lost' : (result == 'Computer Won') }">{{result}}</div>
  </div>

  <router-outlet></router-outlet>
</div>